# Environment
.env
.env.local
.env.*.local

# IDE (ОЧЕНЬ ВАЖНО!)
.idea/
.vscode/
*.swp
*.swo

# Dependencies
node_modules/

# Build outputs
dist/
build/
frontend/dist/
backend/dist/
backend/public/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db